@media screen and (min-width: 1600px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .logo {
    width: 500px;
    height: auto;
  }

  .loading-bar-container {
    width: 500px;
    height: 10px;
  }
}
